
@{
    ViewBag.Title = "GerenciarUsuario";
    Layout = "~/Views/Shared/_LayoutSistema.cshtml";
}   

<h2>Gerenciar Usuário</h2>

<div id="cardUsuario">

</div>

<script src="~/Scripts/MeusScripts/AdmGerenciarUsuario.js"></script>